---
// https://swiperjs.com/swiper-api
const { images, isLazy, height, maxHeight } = Astro.props;
---

<div class=`swiper relative w-full ${height} ${maxHeight}`>
  <div class="swiper-wrapper">
    
      {images.map((item) => (
        <div class="swiper-slide h-full">
          {item[2] === 'img' ? 
            <img src={item[0]} srcset={item[1]} sizes="50vw" alt='View' class="w-full h-full object-cover" loading={isLazy ? 'lazy' : 'eager'}> :
            <video class="h-full object-cover" loop autoplay muted>
              <source src={item[0]} type="video/mp4">
              Your browser does not support the video tag.
            </video>
          }
          </div>
       ))}
      
    </div>

</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper('.swiper', {
    autoplay: {
      delay: 10000,
    },
  })
</script>